*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Inter'; /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
    overflow: hidden;
}

body, html {
    width: 100%;
    height: 100%;
}

.light {
    --text-color: #6c080a;
    --accent-text-color: #990e10;
    --background-color: #f0d2c9;
    --grid-color: #6c080a41;
}

.dark {
    --text-color: white;
    --accent-text-color: rgb(196, 196, 196);
    --background-color: rgb(4, 27, 59);
    --grid-color: rgba(255, 255, 255, 0.25);
}

#loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f0d2c9;
    z-index: 100;
    visibility: visible;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    background-color: var(--background-color);
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}

.grid-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: calc(30% - 10px);
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 2.5em 2.5em;
    /* height: calc(100% + 40px);
    width: calc(100% + 40px);
    transform: translate(-40px, -40px); */
    height: 200%;
    width: 200%;
    transform: rotate(22.5deg) translateX(-50%);
    z-index: 0;
    margin: 0;
    padding: 0;
    background-image:
      linear-gradient(to right, var(--grid-color) 0.5px, transparent 1px),
      linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    animation: move linear 1s infinite;
    /* animation: move linear 1s infinite, bg-shake 0.2s 0.5s steps(1, end); */
}

@keyframes move {
    from {
      /* transform: translate(-40px, -40px); */
      transform: rotate(22.5deg) translate(-50%, 0);
    }
  
    to {
      /* transform: translate(0, 0); */
      transform: rotate(22.5deg) translate(calc(-50% + 40px), 40px);
    }
}

.header {
    grid-column: 1 / 2;
    padding: 1rem;
    height: calc(100% - 2rem);
    border-right: 10px solid var(--text-color);
}

.info {
    z-index: 1;
    transform: translateY(-2.5em);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

h1 {
    text-align: right;
    color: var(--text-color);
    font-size: 5rem;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: -0.5rem;
}

h3 {
    text-align: right;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3em;
}

ul {
    z-index: 1;
    list-style-type: none;
}

li {
    text-align: right;
    color: var(--accent-text-color);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.25em 0;
    padding: 0;
    transition: font-size 0.25s, font-weight 0.25s, color 0.25s, padding 0.25s, opacity 0.25s;
    opacity: 0;
    visibility: hidden;
}

li:hover, li:focus {
    font-size: 1.75rem;
    font-weight: 500;
    padding: 0 0 0.5em 0;
    cursor: pointer;
    transition: font-size 0.25s, font-weight 0.25s, color 0.25s, padding 0.25s;
    color: var(--text-color);
}

li::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--text-color);
    position: absolute;
    transform: translateX(calc(1rem - 10px)) translateY(35%) scale(0%);
    transition: transform 0.25s;
}

li:hover::after, li:focus::after {
    transform: translateX(1rem) translateY(35%) scale(100%);
    transition: transform 0.25s;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    outline: solid white;
}

input::placeholder, textarea::placeholder {
    color: rgb(63, 63, 63);
}

.footer {
    margin-top: auto;
    z-index: 1;
    transition: opacity 1s;
    opacity: 0;
    visibility: hidden;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.footer > p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    font-weight: 300;
}

.icons-left {
    justify-self: flex-start;
    margin-right: auto;
}

.icons-right {
    justify-self: flex-end;
    margin-left: auto;
}

.content {
    grid-column: 2 / 3;
    overflow: hidden;
}

.icon {
    color: var(--accent-text-color);
    height: 2rem;
    margin: 0 0.2em;
    width: 2rem;
    display: inline-block;
    text-decoration: none;
    transition: color 0.25s;
    cursor: pointer;
}

.icon:hover {
    color: var(--text-color);
    transition: color 0.25s;
}

.page {
    height: 100%;
    width: 70%;
    position: absolute;
    box-shadow: 0 0 100px inset rgba(0, 0, 0, 1);
    box-sizing: content-box;
    border-top: 10px solid var(--text-color);
    border-bottom: 10px solid var(--text-color);

    transition: transform 0.75s ease-in-out;
}

.about, .projects, .skills, .resume, .contact {
    background-color: var(--background-color);
    transform: translateY(-10px);
}

.about-container {
    margin: 2em;
    height: calc(100% - 4em);
    width: calc(100% - 4em);

    color: rgb(255, 230, 0);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, 
        -1px 1px 0 black, 1px 1px 0 black,
        0 1px 0 black, 1px 0 0 black,
        0 -1px 0 black, -1px 0 0 black,
        -2px -2px 0 black;
    font-size: 2em;
    font-family: 'Inter';
}

#projects-light {
    background-size: cover;
    z-index: -1;
}

#projects-dark {
    background-size: cover;
    z-index: -1;
}

#content-light > .about {
    background-size: cover;
    z-index: 0;
}

#content-dark > .about {
    background-size: cover;
    z-index: 0;
}

.contact-container {
    margin: 2em;
    height: calc(100% - 4em);
    width: calc(100% - 4em);

    display: grid;
    grid-template-columns: 4fr 6fr;
}

.contact-graphic {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphic-big {
    transform: scale(75%);
}

.contact-form {
    grid-column: 2 / 3;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.contact-form > input, textarea {
    height: 1em;
    width: calc(100% - 2em);
    padding: 1em;
    border-radius: 10px;
    border: none;
    font-size: 1em;

    background-color: rgba(255, 255, 255, 0.50);
}

.contact-form > input[type="submit"] {
    height: 3em;
    width: 100%;
    cursor: pointer;
    background-color: var(--accent-text-color);
    color: var(--background-color);
    font-weight: bold;
    transition: background-color 0.25s;
}

.contact-form > input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: var(--text-color);
    transition: background-color 0.25s;
}

.contact-form > .message {
    flex-grow: 1;
}

.contact-names {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    overflow: visible; 
}

.contact-names > input {
    height: 1em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    width: 50%;

    background-color: rgba(255, 255, 255, 0.50);
}

#content-light > .contact {
    background-size: cover;
    z-index: -1;
}

#content-dark > .contact {
    background-size: cover;
    z-index: -1;
}

.inactive {
    transform: translateY(calc(100% - 10px));
    transition: transform 0s !important;
}