* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('../fonts/CourierPrime-Bold.ttf');
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page {
    background-color: black;
    background-image: url('../images/wall.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    filter: blur(1px);
}

#load {
    position: absolute;
    height: 100vh;
    width: 150vw;
    background-color: #001329;

    z-index: 20; /* arbitrary z-index values holding up the entire design infrastructure... */
    overflow: visible;

    animation: slide 1.5s ease-in forwards;
}

#load > img {
    height: 100vh;
    width: 100vh;
    translate: -50vh;

    animation: spin 1.5s ease-in forwards;
}

@keyframes slide {
    0% {
        translate: -50vw;
    }

    100% {
        translate: 150vw;
    }
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: calc(min(200vw, calc(100vw + 100vh)) / (2 * pi * min(50vw, 50vh)) * 360deg);
    }
}

/* @keyframes slide {
    0% {
        translate: max(-100vw, -100vh);
        rotate: 0deg;
    }

    100% {
        translate: min(200vw, calc(100vw + 100vh));
        rotate: calc(min(200vw, calc(100vw + 100vh)) / (2 * pi * min(50vw, 50vh)) * 360deg);
    }
} */

#menu {
    height: calc(100vh - 4rem);
    width: calc(400vh / 3 - 4rem);
    padding: 2rem;
    position: relative;
}

#nav {
    height: 50%;
    width: 40%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom: 5vh;
    right: 5vh;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#nav > a {
    font-size: 7vh;
    font-family: 'Courier Prime';
    text-decoration: none;
    color: #a61c00; /* #6c080a; */
    /* text-shadow: 5px 5px 2px rgb(192, 192, 192); */
    margin: auto;
    overflow: visible;
    letter-spacing: -0.5vh;
}

h1 {
    font-size: 10vh;
    font-family: 'Courier Prime';
    width: 60vh;
    position: absolute;
    /* left: 7.5vh;
    bottom: 7.5vh; */
    top: 7.5vh;
    right: 7.5vh;
    text-align: right;
    color: rgb(10, 0, 60);
    letter-spacing: calc(-5vh / 7);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#nav > a {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#nav > a:nth-child(odd) {
    transform: rotate(-5deg);
}

#nav > a:nth-child(even) {
    transform: rotate(5deg);    
}

#mute {
  height: 75px;
  width: 75px;
  image-rendering: pixelated;
  /* cursor: pointer; */
  position: absolute;
  left: 85px;
  bottom: 25px;
  background-image: url('../images/muted5.png');
  background-size: cover;
  z-index: 9;
  /* filter: blur(1px); */
}

#mute:active {
  transform: scale(90%);
}

#switch {
  height: 75px;
  width: 75px;
  image-rendering: pixelated;
  /* cursor: pointer; */
  position: absolute;
  left: 10px;
  bottom: 25px;
  background-image: url('../images/switch_on.png');
  background-size: cover;
  z-index: 9;
}

#switch:active {
  transform: scale(90%);
}