* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;

  background-color: #001329;
  /* background-color: black; */
  /* background-image: url('../images/space4.png'); */
}

@font-face {
  font-family: 'Tiny 5';
  src: url('../fonts/Tiny5-Regular.ttf');
}

@font-face {
  font-family: 'QuinqueFive';
  src: url('../fonts/QuinqueFive.ttf');
}

#aperture {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: absolute;

  clip-path: circle(0%);
  cursor: url('../images/cursor.png') 8 0, auto;
}

/* dark mode? */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(white 0%, #acf4ff 100%); */
  background-image: linear-gradient(transparent 0%, transparent 50%, #92f0ff 100%);
  /* animation: iris ease-out 2s 2s forwards; */
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 400px 400px;
  height: calc(100% + 400px);
  width: calc(100% + 400px);
  transform: translate(-400px, -400px);
  /* height: 200%;
  width: 200%; */
  /* transform: rotate(22.5deg) translate(-50%, 0); */
  margin: 0;
  padding: 0;
  background-image:
    linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px);
  animation: move linear 50s infinite;
}

@keyframes move {
  from {
    /* transform: rotate(22.5deg) translate(-50%, 0); */
    transform: translate(-400px, -400px);
  }

  to {
    /* transform: rotate(22.5deg) translate(calc(-50% + 300px), 300px); */
    transform: translate(0, 0);
  }
}

#page {
  height: 100%;
  width: 100%;
  position: absolute;

  background-color: white;
  /* background-image: url("../images/city_blue.png"); */
  background-size: cover;
  background-position: center;

  animation: inherit;
  animation-direction: reverse;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pfp {
  height: 250px;
  width: 250px;
  transform: translate(-200px, -100px);
  /* needs to be measured differently */
  /* transform: translate(0, 0); */
  visibility: hidden;
  /* animation: stretch 0.5s ease-out , deform 0.35s 0.5s steps(2, end); */
  /* image-rendering: pixelated; */
  filter: blur(1px);
  /* cursor: pointer; */
  position: absolute;
  z-index: 10;
}

#pfp:hover {
  transform: translate(-200px, -100px) scale(110%);
}

#time {
  height: 300px;
  width: 300px;
  transform: translate(175px, 75px);
  /* cursor: pointer; */
  position: absolute;
  z-index: 8;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* may want to ditch this in lieu of onmouseover */
#time:hover {
  transform: translate(175px, 75px) scale(110%);
}

#time:active {
  transform: translate(175px, 75px) scale(105%);
}

#clock {
  height: 300px;
  width: 300px;
  clip-path: circle(50%);
  /* image-rendering: pixelated; */
  position: absolute;
  z-index: 8;
}

#realclock {
  height: 65px;
  width: 175px;
  position: absolute;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Tiny 5';
  font-size: 70px;
  color: rgb(58, 67, 75);
  user-select: none;

  filter: blur(1px);

  /* transform: rotate(15deg); */
}

/* maybe not, depends on real clock effect */
/* #clock:active {
  transform: translate(175px, 75px) scale(105%);
} */

#tv {
  height: 300px;
  width: 450px;
  transform: translate(-25px, 215px);
  image-rendering: pixelated;
  filter: blur(1px);
  /* cursor: pointer; */
  position: absolute;
  z-index: 7;
}

#tv:hover {
  transform: translate(-25px, 215px) scale(110%);
}

#tv:active {
  transform: translate(-25px, 215px) scale(105%);
}

#screen {
  height: 180px;
  width: 270px;
  transform: translate(-50px, 215px);
  /* image-rendering: pixelated; */
  position: absolute;
  z-index: 6;
}

#cd {
  height: 200px;
  width: 200px;
  clip-path: circle(50%);
  transform: translate(-200px, -100px);
  /* image-rendering: pixelated; */
  /* cursor: pointer; */
  position: absolute;
  z-index: 9;
  visibility: hidden;
  pointer-events: none;
}

#cd:hover {
  transform: translate(-300px, -100px) scale(110%) !important;
}

.button {
  height: 150px;
  width: 300px;
  /* image-rendering: pixelated; */
  /* cursor: pointer; */
  position: absolute;
  z-index: 10;
}

#button1 {
  transform: translate(500px, -200px) rotate(-15deg);
}

#button1:hover {
  transform: translate(500px, -200px) rotate(-15deg) scale(110%);
}

#button2 {
  transform: translate(550px, 0px);
}

#button2:hover {
  transform: translate(550px, 0px) scale(110%);
}

#button3 {
  transform: translate(500px, 200px) rotate(15deg);
}

#button3:hover {
  transform: translate(500px, 200px) rotate(15deg) scale(110%);
}

#base {
  height: 550px;
  width: 550px;
  transform: translate(0px, -50px);
  position: absolute;
  z-index: 5;
  overflow: visible;
  /* filter: blur(1px); */
}

#connectors {
  height: 550px;
  width: 550px;
  /* image-rendering: pixelated; */
  position: absolute;
  z-index: 5;
}

#status {
  font-family: 'Tiny 5';
  font-size: 20px;
  color: rgb(58, 67, 75);
  z-index: 9;
  width: 200px;
  transform: translate(190px, 170px);
  position: absolute;
  visibility: hidden;
  /* filter: blur(1px); */
}

.bubble {
  height: 150px;
  width: 150px;
  /* image-rendering: pixelated; */
  /* cursor: pointer; */
  position: absolute;
  z-index: 8;
  clip-path: circle(50%);
}

#bubble1 {
  transform: translate(190px, -25px);
  z-index: 13;
}

#bubble1:hover {
  transform: translate(190px, -25px) scale(110%);
}

#bubble1:active {
  transform: translate(190px, -25px) scale(105%);
}

#bubble2 {
  transform: translate(295px, 42.5px);
  z-index: 11;
}

#bubble2:hover {
  transform: translate(295px, 42.5px) scale(110%);
}

#bubble2:active {
  transform: translate(295px, 42.5px) scale(105%);
}

#bubble3 {
  transform: translate(400px, 110px);
  z-index: 9;
}

#bubble3:hover {
  transform: translate(400px, 110px) scale(110%);
}

#bubble3:active {
  transform: translate(400px, 110px) scale(105%);
}

.bubbletext {
  border: 7px solid #3cc3d8;
  background-color: white;
  padding-right: 10px;
  color: rgb(58, 67, 75);
  font-family: 'Tiny 5';
  font-size: 50px;
  /* width: 175px; */
  width: 100%;
  text-align: right;
  transition: transform 0.5s ease;
}

#bubble1text {
  width: calc(225px + 17px);
  height: 75px;
  transform: translate(290px, 15px);
  position: absolute;
  z-index: 8;
  /* 12 */
}

#bubble1text>.bubbletext {
  transform: translate(calc(-225px - 35px), 0);
}

#bubble1:hover+#bubble1text>.bubbletext {
  transform: translate(-27px, 0);
  transition: transform 0.5s ease;
}

#bubble2text {
  width: calc(170px + 17px);
  height: 75px;
  transform: translate(395px, 82.5px);
  position: absolute;
  z-index: 8;
  /* 10 */
}

#bubble2text>.bubbletext {
  transform: translate(calc(-170px - 35px), 0);
}

#bubble2:hover+#bubble2text>.bubbletext {
  transform: translate(-27px, 0);
  transition: transform 0.5s ease;
}

#bubble3text {
  width: calc(170px + 17px);
  height: 75px;
  transform: translate(500px, 150px);
  position: absolute;
  z-index: 8;
}

#bubble3text>.bubbletext {
  transform: translate(calc(-170px - 35px), 0);
}

#bubble3:hover+#bubble3text>.bubbletext {
  transform: translate(-27px, 0);
  transition: transform 0.5s ease;
}

#mute {
  height: 75px;
  width: 75px;
  image-rendering: pixelated;
  /* cursor: pointer; */
  position: absolute;
  left: 85px;
  bottom: 25px;
  background-image: url('../images/muted.png');
  background-size: cover;
  z-index: 9;
  /* filter: blur(1px); */
}

#mute:active {
  transform: scale(90%);
}

#switch {
  height: 75px;
  width: 75px;
  image-rendering: pixelated;
  /* cursor: pointer; */
  position: absolute;
  left: 10px;
  bottom: 25px;
  background-image: url('../images/switch_on.png');
  background-size: cover;
  z-index: 9;
}

#switch:active {
  transform: scale(90%);
}

@keyframes ding {
  0% {
    transform: translate(-200px, -100px) scale(110%);
  }

  50% {
    transform: translate(-200px, -100px) scale(110%) rotate(2.5deg);
  }

  100% {
    transform: translate(-200px, -100px) scale(110%);
  }
}

@keyframes appear {
  0% {
    transform: translate(-100vw);
    height: 1500px;
    width: 1500px;
    filter: blur(25px);
  }

  100% {
    transform: translate(-200px, -100px);
    height: 250px;
    width: 250px;
    filter: blur(0px);
  }
}

@keyframes peek {
  0% {
    transform: translate(-200px, -100px);
  }

  100% {
    transform: translate(-300px, -100px);
  }
}

@keyframes spin {
  0% {
    transform: translate(-300px, -100px) rotate(0deg);
  }

  100% {
    transform: translate(-300px, -100px) rotate(360deg);
  }
}

@keyframes turn {
  0% {
    transform: translate(175px, 75px) scale(110%) rotate(0deg);
  }

  100% {
    transform: translate(175px, 75px) scale(110%) rotate(30deg);
  }
}

.circle {
  position: absolute;
  left: 100px;
  top: 50px;
  filter: blur(2px);
}

/* @keyframes stretch {
  from {
    height: 250px;
    width: 250px;
  }

  to {
    height: 500px;
    width: 125px;
  }
}

@keyframes deform {
  0% {
    width: 125px;
    height: 500px;
  }

  25% {
    width: 417px;
    height: 150px;
  }

  50% {
    width: 175px;
    height: 357px;
  }

  75% {
    width: 312.5px;
    height: 200px;
  }

  100% {
    width: 250px;
    height: 250px;
  }
} */
