* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'Tiny 5';
    src: url('../fonts/Tiny5-Regular.ttf');
}

@font-face {
    font-family: 'Bold Pixels';
    src: url('../fonts/BoldPixels.ttf');
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page {
    /* background-color: black; */
    background-image: url('../images/leaves_pix.png');
    background-position: center;
    background-size: cover;
    /* grid: 2fr 1fr; */
    background-color: black;
    /* background-image: url('../images/aero.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat; */
    /* background-image: url('../images/space4.png'); */
    /* background-image: url('../images/xp_pix.jpg');
    background-position: center;
    background-size: cover; */
}

#monitor {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;

    transform: scaleX(calc(200%/3)) scaleY(150%);
    animation: deform 0.5s 0.05s steps(1, end) forwards;
    /* transform: scale(0%);
    animation: zoom 0.5s 0.05s ease-in-out forwards; */
}

#crt {
    height: 600px;
    width: 600px;
    position: absolute;
    image-rendering: pixelated;
}

#screen {
    height: 400px;
    width: 500px;
    transform: translate(0, -50px);
    position: absolute;
    background-color: rgb(31, 40, 50);

    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal {
    height: 300px;
    width: 400px;
    transform: translate(0, -45px);
    position: absolute;

    color: greenyellow;
    font-size: 24px;
    font-family: 'Tiny 5';
    white-space: pre;
    overflow-y: scroll;
    scrollbar-width: none;

    animation: appear 0.5s steps(1, end) forwards;
}

#font-test {
    visibility: hidden;
}

#explosion {
    width: 710px;
    height: 1000px;
    left: 5%;
    image-rendering: pixelated;
    position: absolute;
}

#fan1 {
    height: 300px;
    width: 300px;
    position: absolute;
    left: calc(10% + 600px);
    top: calc(50vh - 300px);
    image-rendering: pixelated;
}

@keyframes appear {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes deform {
  0% {
    transform: scaleX(calc(200%/3)) scaleY(150%);
  }

  25% {
    transform: scaleX(120%) scaleY(calc(500%/6));
  }

  50% {
    transform: scaleX(calc(550%/6)) scaleY(calc(654.5%/6));
  }

  75% {
    transform: scaleX(calc(626.1%/6)) scaleY(calc(575%/6));
  }

  100% {
    transform: scaleX(100%) scaleY(100%);
  }
}

@keyframes zoom {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}